@media only screen and (max-width: 800px) {
/*    NAV ADJUSTMENTS*/
    #empty-nav, #about-nav, #portfolio-nav {
        display: none;
    }

/*    FOOTER ADJUSTMENTS*/
    #equaliser {
        right: 125px;
    }

/*    HOME PAGE ADJUSTMENTS*/
    #title {
        font-size: 6em;
/*        opacity: 0.7;*/
    }

    #medium-p-homepage {
        top: 34vh;
        font-size: 0.8em;
        width: 38vw;
    }

    #large-p-homepage {
        top: 48vh;
        width: 42vw;
        font-size: 2.5vw;
    }

    #small-p-homepage {
        top: 83vh;
        left: 18vw;
        width: 60%;
        font-size: 0.7em;
    }

    #main-body1 img {
        top: 10vh;
        left: 54vw;
        width: 32vw;
    }

/*    ABOUT PAGE ADJUSTMENTS*/
    #large-p-about1, #large-p-about2 {
        font-size: 1.3em;
    }

    #large-p-about1 {
        top: 32vh;
    }

    #large-p-about2 {
        top: 36vh;
    }

    #about-col-1, #about-col-2 {
        font-size: 0.3em;
    }

    #about-table {
        font-size: 0.6em;
    }

    #about-skills-1, #about-skills-2 {
        display: none;
    }

    #piano-img {
        width: 28vw;
        left: 55vw;
    }

    #code-img {
        width: 12vw;
        top: 32vh;
        left: 0vw;
    }

/*    PORTFOLIO PAGE ADJUSTMENTS*/
    #portfolio-title {
        font-size: 7.3em;
    }

    #large-p-portfolio {
        font-size: 1.8em;
    }

    #portfolio-image {
        width: 30%;
        top: 38vh;
        left: 7vw;
    }

    #portfolio-image2 {
        width: 12%;
        top: 15vh;
        left: 75vw;
    }

    #portfolio-list {
        left: 18    vw;
        top: 38vh;
        font-size: 0.6em;
        width: 20vw;
    }

    #portfolio-list li {
        padding-bottom: 10%;
    }

    #portfolio-text {
        top: 38vh;
        left: 38vw;
        width: 28vw;
    }    

    .small-portfolio-text {
        font-size: 7px;
    }

    .portfolio-tiny-text {
        font-size: 7px;
    }
/*    MODAL CONTENT VIDEO ADJUSTMENTS*/
        .modal-content-video {
        margin: 18% auto;
    }
}