@media only screen and (max-width: 670px) {
/*    NAV ADJUSTMENTS*/
    #header td {
        padding: 0  1%;
    }

    #empty-nav, #about-nav, #portfolio-nav {
        display: none;
    }

/*    FOOTER ADJUSTMENTS*/
    #footer {
        left: 20vw;
    }

    #footer td {
/*        padding-left: 5%;*/
        padding-right: 5%;
    }

    #equaliser {
        right: 63px;
    }

/*    HOME PAGE ADJUSTMENTS*/
    #title {
        font-size: 5em;
    }

    #medium-p-homepage {
        top: 30vh;
        left: 27vw;
        font-size: 0.6em;
        width: 54vw;
    }

    #large-p-homepage {
        top: 52vh;
        width: 78vw;
        font-size: 100%;
    }

    #small-p-homepage {
        top: 70vh;
        left: 13vw;
        width: 70%;
        font-size: 0.7em;
    }

    #main-body1 img {
        top: 18vh;
        left: 58vw;
        width: 30vw;
    }

/*    ABOUT PAGE ADJUSTMENTS*/
    #about-title {
        font-size: 7em;
    }

    #large-p-about1, #large-p-about2 {
        font-size: .6em;
    }

    #large-p-about1 {
        top: 24vh;
    }

    #large-p-about2 {
        top: 26vh;
    }

    #cols {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        font-family: 'Gopher Mono';
        gap: 2.2vw;
        position: absolute;
        top: 30vh;
        margin: auto;
        left: 5vw;
/*        font-size: 90%;*/
    }

    #about-text {
        font-size: 30%;
    }

    #about-table {
        display: none;
    }

    #about-skills-1, #about-skills-2 {
        display: none;
    }

    #piano-img {
        left: 55vw;
        top: 20vh;
    }

    #code-img {
        width: 18vw;
        top: 83vh;
    }  

/*    PORTFOLIO PAGE ADJUSTMENTS*/
    #portfolio-title {
        font-size: 4em;
    }

    #large-p-portfolio {
        top: 20vh;
        font-size: 1em;
    }

    #portfolio-image {
        width: 30%;
        top: 70vh;
        left: 7vw;
    }

    #portfolio-image2 {
        width: 13%;
        top: 12vh;
        left: 78.5vw;
    }

    #portfolio-list {
        left: -10vw;
        top: 25vh;
        font-size: 0.1em;
        width: 28vw;
    }

    #portfolio-list li {
        padding-bottom: 25.5%;
    }

    #portfolio-text {
        top: 25vh;
        left: 25vw;
        width: 38vw;
    }    

    .small-portfolio-text {
        font-size: 55%;
    }

/*    MODAL CONTENT VIDEO ADJUSTMENTS*/
        .modal-content-video {
        margin: 45% auto;
    }

    iframe {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }
}