@media only screen and (max-width: 1175px) {    
/*    HOME PAGE ADJUSTMENTS---------------------------------------------------------------------*/
    #title {
        font-size: 7em;
        top: 20vh;
        width: 60vw;
    }

    #medium-p-homepage {
        top: 33vh;
        font-size: 1em;
        width: 40vw;
    }

    #large-p-homepage {
        top: 48vh;
/*        width: 40vw;*/
    }

    #small-p-homepage {
        top: 83vh;
        width: 45vw;
        left: 15vw;
        font-size: 1.2vw;
    }

    #main-body1 img {
        top: 14vh;
        left: 55vw;
        width: 32vw;
    }
    /* ABOUT ADJUSTMENTS---------------------------------------------------------------------*/
    #about-table {
        display: none;
    }

    #cols {
        font-size: 1.3vw;
    }
}