@media only screen and (max-width: 1440px) {
/*    HOME PAGE ADJUSTMENTS*/
    #title {
        font-size: 8em;
        top: 20vh;
    }

    #medium-p-homepage {
        top: 36vh;
        font-size: 1.1em;
        width: 36vw;
    }

    #large-p-homepage {
        top: 51vh;
        width: 40vw;
    }

    #small-p-homepage {
        top: 74vh;
        left: 15vw;
        font-size: 1vw;
        width: 38vw;
    }

    #main-body1 img {
        top: 34vh;
        left: 55vw;
        width: 20vw;
    }