@font-face {
	font-family: 'valorax';
	src: url(./font/valorax-font/valorax-lg25V.otf);
}

* {
	padding: 0;
	margin: 0 auto;
	font-family: valorax;
}

#container-div {
	display: flex;
	flex-wrap: wrap;
}

#title {
	flex-basis: 100%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

#title h1, #title a {
	color: lightcoral;	
}

#title a:hover {
	color: pink;
}

#main-content-div {
	flex-basis: 100%;
	justify-content: center;
	flex-direction: row;
	display: flex;
}

#rules-block {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
}

#rules {
	text-align: right;
	width: 90%;
	box-sizing: border-box;
	padding-left: 10%;
}

#center-block {
	margin: 0 auto;
	display: block;	
}

#start {
	flex-basis: 100%;
	border: solid;
	background: #eee;
	min-width: 600px;
	height: 600px;
	text-align: center;
	margin-bottom: -5px;
}

#start-button {
	border: solid;
	text-align: center;
	font-size: 150%;
	padding: 10px;	
	margin-top: 45%;	
}

#start-button:hover {
	background: lightgrey;
	cursor: pointer;
}

#myCanvas {
	flex-basis: 100%;
	border: solid;
	background: #eee;
	margin-bottom: -5px;
}

#games {
	flex-basis: 100%;
}

#games > div {
	text-align: left;
	width: 90%;
	box-sizing: border-box;
}

#games a {
	color: lightcoral;
}

#games a:hover {
	color: pink;
}

.current-game {
	color: grey;
}

#footer {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
}

#back {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}

#website-button {
	font-size: 150%;
	padding: 10px;
	border: solid;
}

#website-button:hover {
	background: lightgrey;
	cursor: pointer;
}

#muteButton {
	font-size: 100%;
	padding: 10px;
	margin-top: 7px;
	border: solid;
}

#muteButton:hover {
	background: lightgrey;
	cursor: pointer;
}

#score {
	flex-basis: 100%;
	text-align: center;
	padding-top: 1.7%;
	padding-bottom: 1.7%;
}

#next {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}