@font-face {
	font-family: 'valorax';
	src: url(./font/valorax-font/valorax-lg25V.otf);
}

* {
	padding: 0;
	margin: 0 auto;
	font-family: valorax;
}

#container-div {
	display: flex;
	flex-wrap: wrap;
}

#title {
	flex-basis: 100%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

#main-content-div {
	justify-content: center;
	flex-direction: row;
	display: flex;
}

#rules-block {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
}

#rules-block {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
}

#rules {
	text-align: right;
	width: 90%;
	box-sizing: border-box;
	padding-left: 10%;
}

#center-block {
	margin: 0 auto;
	display: block;	
}

#myCanvas {
	flex-basis: 100%;
	border: solid;
	background: #eee;
}

#controls {
	flex-basis: 100%;
/*	margin-top: auto;*/
}

#controls > div {
	text-align: left;
	width: 90%;
	box-sizing: border-box;
}

#controls a {
	color: lightcoral;
}

#controls a:hover {
	color: pink;
}

#footer {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
}

#back {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}

button {
	font-size: 150%;
	padding: 10px;
	border: solid;
}

button:hover {
	background: lightgrey;
	cursor: pointer;
}

#score {
	flex-basis: 100%;
	text-align: center;
	padding-top: 1.7%;
	padding-bottom: 1.7%;
}

#next {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}